/**{
    background-image: url("https://png.pngtree.com/background/20210711/original/pngtree-desk-overlooking-banner-background-picture-image_1067718.jpg");
}*/
header {
    width: 500px;
    height: 100px;
    margin: 10px auto;
    background-image: url("https://png.pngtree.com/background/20210711/original/pngtree-desk-overlooking-banner-background-picture-image_1067718.jpg");

}

header > h1 {
    font-size: 50px;

    text-align: center;
}

header > div {
    position: absolute;
}

.members {
    width: 500px;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-floating {
    margin-bottom: 10px;
}

.title {
    color: black;
    border-width: medium;
    border-style: solid;
    margin: 30px 100px 30px 100px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background: #F1F1F3;



}

.button_hover {
    background: gold;
    position: relative;
    left: 520px;


}

.button_hover:hover {
    background: skyblue;
    border-radius: 10px;
}

.blog_hover:hover {
    background: skyblue;
    border-radius: 10px;
}

.save_button:hover {
    background: skyblue;
    border-radius: 10px;
}

.close_box:hover {
    background: skyblue;
    border-radius: 10px;
}

.cards-radius {
    border-radius: 10px;
    object-fit: contain;
    width: 540px;
    height: 180px;
}



#post-box {

    width: 95%;
    max-width: 500px;
    margin: 20px auto 20px auto;
    padding: 20px;
    box-shadow: 0px 0px 3px 0px gray;

    display: none;

}
